@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
body {
    padding: 0px;
    margin: 0px;
    font-family: Roboto;
}

.box-canvas {
    width: 550px;
    padding: 14px;
    background-color: rgb(233, 233, 233);
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.wrap-content {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 24px;
}

.title {
    text-align: center;
}